@model ItCareer.Models.Dog

@{
    Layout = "_Layout";
}

    <form method="post" asp-action="DeleteADog" asp-route-id="@Model.Id">
        <h5>Name: @Model.Name</h5>
        <h5>Age: @Model.Age</h5>
        <h5>Breed: @Model.Breed.Name</h5>
        <h5>Colour: @Model.Colour.Name</h5>

        <button class="btn btn-outline-primary btn-danger" type="submit">CONFIRM</button>
    </form>